body{
  background-color: #325288;
}

.header-bg{
  background-image: url(https://res.cloudinary.com/dloadb2bx/image/upload/v1619802708/photo-1566837945700-30057527ade0_g7ziq7.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 85vh;

}

.container-bg{
  padding: 10px;
  border-radius: 20px;
  margin-top: -200px;
  background-color: #fff;
  height: 5200px;
}

.profile-container{
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 16px;
    margin: 20px;
}

.img-profile{
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.first-name{
  margin-top: 10px;
  font-weight: lighter;
  font-size: 28px;
  opacity: 0.5;
}

.last-name{
  text-transform: uppercase;
  font-size: 56px;
  font-weight: bold;
  line-height: 2px;
}

.h-line{
  width: 70%;
}

.professional{
  margin-top: 50px;
  font-size: 56px;
  font-weight: bold;
  opacity: 0.5;
}

.portfolio-container{
  padding: 30px;
}

.portfolio-grid{
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
    margin: 20px;
}

.portfolio-box{
    background-color: #fff;
    margin: 10px 0 20px;
    max-height: 320px;
    border: 1px solid #E8E8E8;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.img-box{
  height: 250px;
  width: 100%;
}

.tech-tag{
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
}

.btn-tag{
  color: #fff;
  border-radius: 20px;
  padding: 5px 25px;
  background-color: #325288;
}

.academic-container{
  padding: 20px;
}

.academic-box{
  border: 1px solid #d9d9d9;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.academic-content{
  height: 140px;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.academic-text-box{
  margin-right: auto;
  margin-left: 20px;
}

.academic-logo{
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.academic-title{
  margin-top: 10px;
  font-weight: lighter;
  font-size: 22px;
  opacity: 0.5;
}

.academic-subtitle{
  text-transform: uppercase;
  font-size: 28px;
  font-weight: bold;
  line-height: 2px;
}

.academic-year{
  font-size: 32px;
  font-weight: bold;;
}

.academic-tags{
  display: flex;
  justify-content: space-around;
}

.academic-tag-item{
  margin-right: 10px;
  font-weight: bold;
  color: #fff;
  font-size: 12px;
  border-radius: 20px;
  padding: 5px 25px;
  background-color: #23049d;
}